<link rel="stylesheet" type="text/css" href="../../../public/css/style_a.css">

<header>
    <h1>{{ title }}</h1>
          <!-- https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp -->
      <div class="navbar">
        <a href="/home">Home Page</a>
        <div class="dropdown">
          <button class="dropbtn">
            Events
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/location/events">All Events</a>
            <a href="/location/events/city">Search by Borough</a>
            <a href="/location/events/date">Search by Date</a>
          </div>
        </div>
        <a href="/friends">Friends List</a>
        <a href="/userFeed"> User Feed </a>
        <a href="/logout">Signout</a>
      </div>
</header>

<div class="coffeeDetails">
    <section class="sectionSpacing">
        <h3 class="coffeeDetailHeader">{{ coffeeShop.tags.name }}</h3>
        <p class="noSpacing"><strong>Address: </strong>{{ coffeeShop.tags.[addr:housenumber] }} {{ coffeeShop.tags.[addr:street] }}, {{
            coffeeShop.tags.[addr:city]
            }}</p>
        <p class="noSpacing"><strong>Latitude:</strong> {{ coffeeShop.lat }}</p>
        <p class="noSpacing"><strong>Longitude:</strong> {{ coffeeShop.lon }}</p>
        <p class="noSpacing"><strong>Overall Rating:</strong> {{#if overallRating}}{{overallRating}} out of 5
            stars{{else}}No Ratings Yet.{{/if}}</p>
    </section>

    <section class="sectionSpacing">
        <h3 class="coffeeDetailHeader">Reviews</h3>
        {{#if review}}
          {{#if review.rating.length}}
            {{#each review.rating}}
            <div class="coffeeReview">
                <p class="noSpacing">{{this}} out of 5 stars</p>
                <p class="noSpacing">"{{lookup ../review.text @index}}"</p>
            </div>
            {{/each}}
          {{else}}
          <p class="noSpacing">No Ratings Yet.</p>
          {{/if}}
        {{else}}
        <p class="noSpacing">No Ratings Yet.</p>
        {{/if}}
    </section>

    <section class="sectionSpacing">
        <h3 class="coffeeDetailHeader">Image Gallery</h3>
        {{#if images.length}}
            {{#each images}}
            <img class="galleryImage" src="{{this.url}}" alt="{{this.altText}}">
            {{/each}}
        {{else}}
        <p class="noSpacing">No images of this place yet.</p>
        {{/if}}
    </section>
</div>