<link rel="stylesheet" type="text/css" href="../../../public/css/style_a.css">

<header>
  <h1>{{title}}</h1>
  <!-- https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp -->
  <div class="navbar">
    <a href="/home">Home Page</a>
    <div class="dropdown">
      <button class="dropbtn">
        Events
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/location/events">All Events</a>
        <a href="/location/events/city">Search by Borough</a>
        <a href="/location/events/date">Search by Date</a>
      </div>
    </div>
    <a href="/friends">Friends List</a>
    <a href="/userFeed"> User Feed </a>
    <a href="/about">About</a>
    <a href="/logout">Signout</a>
  </div>

</header>

<main>
  <section class="events-list">
    {{#each events}}
    <div class="event">
      <h4>{{this.event_name}}</h4>
      <ul>
        <li>Hosts: {{this.event_agency}}</li>
        <li>Borough: {{this.event_borough}}</li>
        <li>Date: {{this.start_formatted}}</li>
        <li>Location: {{this.event_location}}</li>
        <li>Type: {{this.event_type}}</li>
        <li><button class="downloadICS" value="{{this.event_id}} ||| {{this.start_date_time}}">Add to Calendar</button></li>
      </ul>
      <p class="icsError"></p>
    </div>
    {{/each}}
  </section>
</main>

<script src="../public/js/helpers.js"></script>
<script src="../public/js/ics.js"></script>