<link rel="stylesheet" href="/public/css/styles.css" />

<header>
      <h1>{{title}}</h1>
      <!-- https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp -->
      <div class="navbar">
        <a href="/home">Home Page</a>
        <div class="dropdown">
          <button class="dropbtn">
            Events
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/location/events">All Events</a>
            <a href="/location/events/city">Search by Borough</a>
            <a href="/location/events/date">Search by Date</a>
          </div>
        </div>
        <a href="/friends">Friends List</a>
        <a href="/userFeed"> User Feed </a>
        <a href="/logout">Signout</a>

      </div>
</header>


<div id="postpage">
  <p id="postId" class="hidden">{{post._id}}</p>
  <p id="username" class="hidden">{{post.poster.username}}</p>
    <input type="hidden" id="userData" value='{{{userData}}}'>

  <div class="event">
    <h4>Post:</h4>
    <button id="addFriend" class="hidden"> +Friend </button>
    <ul>
      <li>Place: {{post.placeName}}</li>
      <li>Posted By: {{post.poster.username}}</li>
      <li>Body: {{post.body}}</li>
    </ul>
    {{#if post.image }}
    <img class="review-image" src="{{post.image.url}}" alt="{{post.image.altText}}">
    {{/if}}
  </div>


  <button id="postButton">Create Comment</button>

  <div id="reviewPrompt" class="hidden">
    <form id="reviewForm">
      <h3>Leave a Comment</h3>
      <!-- Review Textarea -->
      <label for="reviewText">Your Comment:</label>
      <textarea id="reviewText" name="reviewText" rows="4" cols="30" placeholder="Enter your comment here"
        required></textarea>

      <!-- Buttons -->
      <div class="buttonGroup" style="margin-top: 20px;">
        <button type="submit" id="submitCommentButton">Submit</button>
        <button type="button" id="cancelButton">Cancel</button>
      </div>
    </form>
  </div>

  <!-- Comments -->
  <h3>Comments:</h3>
  <div id="userComments"> 
    
  </div>

  <p id="error"></p>

</div>

<script src="/public/js/helpers.js"></script>
<script src="/public/js/post.js"></script>